{% extends 'sheet/base.html' %}
{% block content %}

<h1 class="d-flex justify-content-center">Ledger</h1>
    <br><br>


    <form method="POST" class="post-form">{% csrf_token %}
        {{ form }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>



<br> <br>
<center>{{ money }}</center>
<br><br><br>


{% for grp in grps %}

  <a href = "{% url 'sheet:grp_view' pk=grp.pk %}"> {{ grp.grp_name }} </a>

{% endfor %}


<div class="row justify-content-center"> 
<table class="table col-lg-8 table-hover ">
    <thread>
        <th scope="col">#</th> 
      <th scope="col">Lender</th>
      <th scope="col">Borrower</th>
      <th scope="col">Amount</th>
      <th scope="col">desc</th>
      <th scope="col">group</th>
  </thread>
  <tbody>
    {% for l in ledgers %}
        <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{l.lender|capfirst}}</td>
      <td>{{l.borrower|capfirst}}</td>
      <td>{{l.amount}}</td>
      <td>{{l.desc}}</td>
      <td>{{l.grp}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>


{% endblock %}
